
.banner {
    width: 100%;            /* Make the banner take up the full width */
    height: auto;           /* Maintain the aspect ratio */
    border-radius: 0;       /* Remove rounded corners */
    margin-bottom: 20px;    /* Add some space below the banner */
}


img {
    max-width: 350px; /* Adjust the size to your desired width */
    height: 370px;     /* Keep the aspect ratio */
    border-radius: 2%; /* This makes the image rounded */
    border: 2px solid #802B00; /* Optional: Add a border with the h1 color */
    display: block; /* Centers the image if inside a block element */
    margin: 0 auto; /* Centers the image horizontally */
}



h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Bold for the h1 headings */
    font-style: bold;
    color: #802B00; /* Custom color for h1 */
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500; /* Medium weight for h2 headings */
    font-style: bold;  /* Ensures it is bold */
    color: #000000; /* Black color for h2 */
}

body, p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300; /* Lighter weight for normal text */
    color: #000000; /* Black color for body and paragraphs */
}
